* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Space Grotesk", sans-serif;  }
  
  .dashboard {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 150vh;
    align-items: center;
    justify-content: center;
    background-color: #121212;
    /* background: linear-gradient(to bottom, #5f5f5f,#121212, #000000); /* Gradient from black to neon green */   
  }
  
  .dashboard-heading {
    font-size: 1.5em;
    color: #ffffff;
    margin: 30px 0px;
  }
  
  .address-input {
    width: 60%;
    padding: 10px;
    margin-bottom: 25px;
    border: 2px solid #121212;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.1);
    color: #e3e3e3;
  }
  
  .address-input::placeholder {
    color: #efefef;
  }
  
  .dashboard-subheading {
    font-size: 1.2em;
    color:#ffffff;
    margin-bottom: 25px;
  }